.earth {
    position: absolute;
    width: 20%;
    pointer-events: none;
    display: block;
    margin-top: 4.6%;
    margin-left: 2%;
}

.share {
    position: absolute;
    top: 93%;
}

h1 {
    font-size: 160%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-shadow: 3px  5px 6px rgb(255, 255, 255);
    color: #488ad4;
    margin: 8%;
    margin-top: 4.5%;
    margin-left: 25%;
}

.boat {
    transition: transform 0.3s;
}

.boat:hover {
    transform: scale(1.5) translate(8px, 8px);
}