body {
    background-color: #b2eba1;
}

.earth {
    width: 20%;
    pointer-events: none;
    display: block;
    margin-top: 3%;
    margin-left: 2%;
}

.share {
    position: absolute;
    top: 93%;
}

h1 {
    text-shadow: 3px  5px 6px rgb(255, 255, 255);
    color: #0077ff;
    margin: 8%;
    margin-top: -20%;
    margin-left: 25%;
}

.boat {
    transition: transform 0.3s;
}

.boat:hover {
    transform: scale(1.5) translate(8px, 8px);
}